@model MVC5_ASP_DOT_NET.Models.LireModel

@{
    /**/

    ViewBag.Title = "Lire";

}

<h2>L'article numero @Model.ID</h2>
<h2>Titre de l'article:  @Model.Title</h2>


<!-- http://localhost:50746/Article/Lire/?id=3&title=comment-dev-en-line -->
<!--
    <h2>L'article numero @ViewBag.ArticleId</h2>
    <h2>Titre de l'article: @ViewBag.ArticleTitle</h2>

 -->
